* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .buttons{
    width: 300px;
    height: 250px;
    margin-left: 12%;
    margin-right: 8%;
    max-width: 500px;
    }

  .btn{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .table{
    width:540px;
    margin:50px;
    display:table;
  }

