* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .btn{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .buttons{
    width: 350px;
    height: 250px;
    margin-left: 15%;
    margin-right: 8%;
    max-width: 500px;
}
