header {
    text-align: center;
    background-color: #000;
    margin-top: 20px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.title{
    color: rgb(255, 255, 255);
}

.icon{
    max-width:50px;
    max-height:50px;
}
